option[value="0"][disabled] {
    display: none;
    color:gray;
}

.widget-drop-down-filter-loading > * {
    opacity: 0 !important;
}

.widget-drop-down-filter-loading {
    background-color: white;
    background-image: url(./loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
